* {
  font-family: 'Bree Serif';
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-image: linear-gradient(#fbc7d4, #9796f0);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.image-style {
  height: 270px;
  width: 300px;
}

.heading {
  font-family: 'Bree Serif';
}

.input-style {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  border-radius: 5px;
  border-color: none;
  height: 28px;
  border-style: solid #b5b7c4;
  border-width: 1px;
  align-self: flex-end;
}

.button-style {
  background-color: #8b5cf6;
  color: #ffffff;
  border-radius: 8px;
  border-width: 0;
  width: 56px;
  height: 38px;
  padding: 3px;
}

.hrz-style {
  width: 96%;
  color: black;
  height: 2px;
}

.in-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 20px;
  padding: 14px;
  width: 60%;
  min-height: 70%;
}

.appointments-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px;
}

.appointmentsitem-container {
  display: flex;
  flex-direction: column;
}

.item-style {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
